/* src/components/CustomSlider.css */
.slider-container {
  position: relative;
  overflow: hidden;
}

.slider-content,
.dots-container {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.slider-container:hover .slider-content,
.slider-container:hover .dots-container {
  opacity: 1;
  visibility: visible;
}

.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
